.dropdown-option-list-item {
  display: flex;
  justify-content: start;
  align-items: center;
  white-space: nowrap;

  padding: 0.25rem 1rem;
  border: 0;

  font-weight: 400;
  text-align: inherit;
  text-decoration: none;

  color: var(--bs-body-color) !important;
  background-color: var(--bs-body-bg) !important;

  &:hover, :focus {
    background-color: var(--bs-tertiary-bg) !important;
  }

  &:active, &.active {
    color: #fff !important;
    text-decoration: none;
    background-color: #0d6efd !important;
  }
}
