.move-open-animation-28 {
  height: 0;
  animation: move-open-25 60ms linear forwards;
  @keyframes move-open-25 {
    100% {
      height: 2.8rem;
    }
  }
}

.move-close-animation-28 {
  height: 2.8rem;
  animation: move-close-25 60ms linear forwards;
  @keyframes move-close-25 {
    100% {
      height: 0;
    }
  }
}

.hover-scale-1 {
  transition: box-shadow 0.2s ease-in-out, transform 0.12s;

  &:hover {
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.175) !important;
    transform: scale(1.013);
    cursor: pointer;
  }

  &:active {
    transform: scale(1.006);
    cursor: pointer;
  }
}

.hover-scale-10 {
  transition: transform 0.1s;

  &:hover {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1) !important;
    transform: scale(1.1);
    cursor: pointer;
  }

  &.selected {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1) !important;
    transform: scale(1.1);
    padding: 0.1rem !important;
    cursor: pointer;
  }
}