@import "colors";
@import "buttons";
@import "backgrounds";
@import "animations";
@import "borders";

.text-body-quaternary {
  color: var(--text-color-quaternary);
}

.hidden {
  opacity: 0;
  height: 0;
  width: 0;
  line-height: 0;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

