:root,
[data-bs-theme=light] {
  --border-color-translucent: rgba(0, 0, 0, 0.175);
}

[data-bs-theme=dark] {
  color-scheme: dark;
  --border-color-translucent: rgba(255, 255, 255, 0.15);
}

.options-divider {
  height: 0;
  margin: 0.25rem 0.25rem;
  overflow: hidden;
  border-top: 1px solid var(--border-color-translucent);
  opacity: 1;
}